# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/
.venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VSCode settings
.vscode/

# Ignore temporary or backup files
*.tmp
*.bak
*.swp
